.tip{
    text-align: center;
}

.list {
    margin: auto;
}
.left{
    position:absolute;
    cursor: pointer;
}
.right{
    position:absolute;
    cursor: pointer;
}
.list li {
    position: relative;
    display: inline-block;
    width: 170px;
    height: 220px;
    margin: 10px 5px;
    cursor: pointer;
    overflow: hidden;
}
.list li:hover img{
    filter: brightness(60%);
}
.list li:hover div{
    opacity: 1;
}
.list li img {
    position: relative;
    left: 0;
    top: 0;
    width: 90%;
}

.list li div {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: 100%;
    color: white;
    font-size: 20px;
    text-shadow: black 1px 1px;
}
.img{
    text-align: center;
}
.img img{
    margin-top:1px;
    width:90vw;
}
.nav{
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 50px;
    height: 50px;
    text-align: center;
    opacity: 0.5;
    font-size: 10px;
    border-radius: 50%;
    line-height: 50px;
    color: white;
    background-color: pink;
}
.nav:hover{
    opacity: 1;
}