.tip{
    text-align: center;
}

.left{
    position:absolute;
}
.right{
    position:absolute;
}
.list li {
    position: relative;
    display: inline-block;
    width:40vw;
    overflow: hidden;
    margin-top: -8px;
}
.list li img {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.list li div {
    position: relative;
    height: 55px;
    font-size: 10px;
    overflow: hidden;
}
.img{
    text-align: center;
}
.img img{
    width: 99vw;
}
.nav{
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 50px;
    height: 50px;
    text-align: center;
    opacity: 0.5;
    font-size: 10px;
    border-radius: 50%;
    line-height: 50px;
    color: white;
    background-color: pink;
}